html, body {
    margin: 0px;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
  }

#main {
    height: 1020px;
    background-image: url("../images/bg/jwst-deep-field-3-original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#heading-container {
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
}

h1 {
    display:inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: white;
    margin: auto;
}

.aria-invisible {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px;  
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sun {
    display:inline-block;
    width: 52px;
    height: 52px;
    margin: 0 2px;
    border-radius: 44px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

#sun-o1 {
    background-image: url("../images/solar-images/blue-sun-sdo.jpg");
}

#sun-o2 {
    background-image: url("../images/solar-images/yellow-sun-sdo.jpg");
}

#sun-o3 {
    background-image: url("../images/solar-images/red-sun-sdo.jpg");
}

#sun-o4 {
    background-image: url("../images/solar-images/orange-sun-sdo.jpg");
}

#footer {
    display: block;
    padding: 1rem;
    background-color: #202020;
    color: white;
    
}

#footer a {
    color: white;
}


/* ---------- ANNIMATIONS ---------- */

@keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: rotate(-360deg) translateY(-80px);
        }

        100% {
            transform: translateY(0);
        }
    }

/* ---------- MEDIA QUERIES ---------- */

/* ----- Operating system accessibility preferences ----- */

/* Reduce motion  */
@media (prefers-reduced-motion: reduce) {
    
}

/* Increase contrast */
@media (prefers-contrast: more) {
    
}

/* Decrease contrast */
@media (prefers-contrast: less) {
    
}

/* Prefered dark colour scheme (SVG or iframe) */
@media (prefers-color-scheme: dark) {
    
}


/* ----- Device screen sizes and orientations ----- */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 