html, body {
    margin: 0px;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 12px;
  }

#main {
    height: 1020px;
    background-image: url("../images/bg/earth-horizon-original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#heading-container {
    display: block;
    position: relative;
    height: 100%;
    text-align: center;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: white;
    text-shadow: -2px -2px 0 #292929, 2px -2px 0 #292929, -2px 2px 0 #292929, 10px 10px 0 #292929;
    margin: auto;
}


/* ---------- ANNIMATIONS ---------- */




/* ---------- MEDIA QUERIES ---------- */

/* ----- Operating system accessibility preferences ----- */

/* Reduce motion  */
@media (prefers-reduced-motion: reduce) {
    
}

/* Increase contrast */
@media (prefers-contrast: more) {
    
}

/* Decrease contrast */
@media (prefers-contrast: less) {
    
}

/* Prefered dark colour scheme (SVG or iframe) */
@media (prefers-color-scheme: dark) {
    
}


/* ----- Device screen sizes and orientations ----- */

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {

}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 